body {
    background-color: #657589;
}
.jumbotron {
    background-color: #F5F7F5;

}
.boardContainer {
    background-color: #F5F7F5;
}
h1 {
    color: #AA4154;
}
.quizContainer {
    background-color: #F5F7F5;

}